@charset "UTF-8";

@use "base/variable" as *;
@use "base/mixin" as *;
@use "base/reset" as *;
@use "base/container" as *;

section {
    &.intro {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100vh;
        padding: var(--page-padding);
    }

    &.text-3d {
        #content {
            display: none;
        }

        .content {
            overflow: hidden;
            width: 100vw;
            height: 90vh;
            will-change: transform;

            &_wrapper {
                position: relative;
                perspective: to_vw(250);
                transform-style: preserve-3d;
            }

            &_top {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transform-origin: bottom center;
                transform: translateZ(0) translate3d(0, -90vh, 0) rotateX(-12deg) scale3d(1, 1.002004008016032, 1);

                .content-size-fix {
                    transform-origin: bottom center;
                }

                .item {
                    transform: translateY(100%);
                }
            }

            &_center {
                transform-origin: center center;
                transform: translateZ(0) translate3d(0, 0, 0) rotateX(0) scale3d(1, 1.002004008016032, 1);
            }

            &_bottom {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transform-origin: top center;
                transform: translateZ(0) translate3d(0, 90vh, 0) rotateX(120deg) scale3d(1, 1.002004008016032, 1);

                .content-size-fix {
                    transform-origin: top center;
                }

                .item {
                    transform: translateY(-100%);
                }
            }

            &-size-fix {
                height: 100%;
            }

            .item {
                width: 100%;
                height: 100%;

                div {
                    backface-visibility: hidden;
                }

                * {
                    font-size: to_vw(96);
                    line-height: 1.2;
                    font-weight: 900;
                }
            }
        }

        .screen {
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            pointer-events: none;
        }
    }
}

