@charset "UTF-8";

@use "base/variable" as *;
@use "base/mixin" as *;
@use "base/reset" as *;
@use "base/container" as *;

section {
    // common
    .screen {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        pointer-events: none;
    }

    .content-size-fix {
        height: 100%;
    }

    &.intro {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100vh;
        padding: var(--page-padding);
    }

    &.text-3d {
        #content {
            display: none;
        }

        .content {
            overflow: hidden;
            width: 100vw;
            height: 90vh;
            will-change: transform;

            &-wrapper {
                position: relative;
                perspective: to_vw(250);
                transform-style: preserve-3d;
            }

            &-top {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transform-origin: bottom center;
                transform: translateZ(0) translate3d(0, -90vh, 0) rotateX(-12deg) scale3d(1, 1.002004008016032, 1);

                .content-size-fix {
                    transform-origin: bottom center;
                }

                .content-scroller {
                    transform: translateY(100%);
                }
            }

            &-center {
                transform-origin: center center;
                transform: translateZ(0) translate3d(0, 0, 0) rotateX(0) scale3d(1, 1.002004008016032, 1);
            }

            &-bottom {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transform-origin: top center;
                transform: translateZ(0) translate3d(0, 90vh, 0) rotateX(120deg) scale3d(1, 1.002004008016032, 1);

                .content-size-fix {
                    transform-origin: top center;
                }

                .content-scroller {
                    transform: translateY(-100%);
                }
            }

            .content-scroller {
                width: 100%;
                height: 100%;

                div {
                    backface-visibility: hidden;
                }

                * {
                    font-size: to_vw(72);
                    line-height: 1.2;
                    font-weight: 900;
                }
            }
        }
    }

    &.image-3d {
        overflow: hidden;
        position: relative;
        height: 100vh;
        margin-top: -50vh;
        background: #fff;

        #characters {
            display: none;
        }

        .characters {
            display: flex;
            align-items: flex-end;
            width: min-content;
            height: 100%;
            pointer-events: all;

            ul {
                display: flex;
                align-items: center;
                gap: to_vw(96);
                height: 100%;
            }

            li {
                overflow: hidden;
                position: relative;
                width: to_vw(248);
                height: to_vw(248);
                border-radius: 50%;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                span {
                    position: absolute;
                    top: 70%;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 1;
                    font-size: to_vw(16);
                    font-weight: 700;
                    color: #fafafa;
                }
            }
        }

        .drag {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            z-index: 10000;
            width: 100%;
            height: 70vh;
            cursor: grab;
        }

        .screen {
            position: absolute;
            z-index: 1000;

            .content-wrapper {
                position: absolute;
                right: 0;
                perspective: 50vw;
                transform-style: preserve-3d;
            }

            .content {
                overflow: hidden;
                width: calc(40vw + 1px);
                height: 70vh;
                will-change: transform;
                background: #000;

                &2, &3, &4 {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    transform-origin: right center;
                    transform: translate3d(-100%, 0, 0) rotateY(-10deg);

                    .content-size-fix {
                        transform-origin: bottom center;
                    }
                }

                &1 {
                    .content-scroller {
                        transform: translateX(-200%);
                    }
                }

                &2 {
                    transform: translate3d(-100%, 0, 0) rotateY(-35deg);

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 100;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.5);
                    }

                    .content-scroller {
                        transform: translateX(-100%);
                    }
                }

                &3 {
                    transform: translate3d(-100%, 0, 0) rotateY(-35deg) translate3d(-100%, 0, 0) rotateY(35deg);

                    .content-scroller {
                        transform: translateX(0%);
                    }
                }

                &4 {
                    transform: translate3d(-100%, 0, 0) rotateY(-35deg) translate3d(-100%, 0, 0) rotateY(35deg) translate3d(-100%, 0, 0) rotateY(110deg);

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 100;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.4);
                    }

                    .content-scroller {
                        transform: translateX(100%);
                    }
                }

                .content-scroller {
                    height: 100%;
                }
            }
        }
    }
}